body{
    background-color: blanchedalmond;
    }
    p{
        text-align: center;
        margin-top: 5%;
        border: solid black 7px;
        padding: white 20%;
        font-size: medium;
        font-family: 'Barlow Condensed', sans-serif;
    }
    header{
        text-align: center;
        font-family: 'Rubik Pixels', cursive;
        
    }
    img{
        margin-left: 10%;
        height: 250px;
        border: solid black 5px;
        padding: white 20%;
        margin-top: 10px;
    }
    footer{
        text-align: center;
    }
    button{
        margin-left: 47%;
    }
    h2{
        text-align: center;
        margin-top: 1px;
        font-family: 'Rubik Pixels', cursive;
    }
    footer{
        font-family: 'Rubik Pixels', cursive;
    }
